<div class="panel panel-default">
    <div class="panel-heading">
        <h4><i class="fa fa-fw fa-check"></i>Learn ${courseName}</h4>
    </div>
    <div class="panel-body">
        <p>
		${learnMore}
		</p>
    </div>
	<div class="panel-footer">
		Click on below link(s) to get course details.
	</div>
</div>